/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: auto;
  margin-left: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.global-wrapper {
  flex-grow: 1;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-image: url('/img/left-bg.jpg');
  background-position: center bottom;
  background-size: cover;
}

.hero__content {

}

.hero__heading1 {
  width: 285px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: normal;
  color: #fff;
}

.hero__link {
  display: inline-block;
  padding: 12px 24px;
  width: 166px;
  height: 48px;
  background-color: #1E90FF;
  text-decoration: none;
  transition: background-color 0.4s ease;
}

.hero__link:hover {
  background-color: rgba(30, 144, 255, 0.8);
}

.hero__link:active {
  background-color: rgba(30, 144, 255, 0.6);
}

.hero__link-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__link-inner::before {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-image: url('/img/Vector.svg');
  content: '';
}

.hero__link-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #fff;
}


/* LAST VIDEOS */
.videos {
  width: 100%;
  max-width: 600px;
  padding-top: 54px;
  padding-left: 54px;
  padding-right: 54px;
  letter-spacing: 2px;
  background-color: #fefefe;
}

.videos__heading2 {
  padding: 0;
  padding-bottom: 24px;
  margin: 0;
  margin-bottom: 24px;
  border-bottom: 1px solid #999;
  font-size: 24px;
  color: #222;
}

.videos__list {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  list-style: none;
}

.videos__item {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.videos__item:not(:last-child) {
  margin-bottom: 10px;
}

.videos__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-weight: 400;
}

.videos__img {
  width: 160px;
  height: 90px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.videos__content {
  height: 90px;
  margin: 0;
  padding: 0;
  padding: 16px;
}

.videos__heading3 {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 21.6px;
  transition: color 0.4s ease;
}

.videos__heading3:hover {
  color: #1E90FF;
}

.videos__heading3:active {
  color: rgba(30, 144, 255, 0.6);
}

.videos__footer {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: normal;
  color: #888;
}

.videos__time {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.videos__time::before {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url('/img/Vector-1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: '';
}

.videos__view {
  display: flex;
  align-items: center;
}

.videos__view::before {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url('/img/Vector-2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: '';
}

.button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border: transparent;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.4s ease;
  background-color: #1E90FF;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(30, 144, 255, 0.8);
}

.button:active {
  background-color: rgba(30, 144, 255, 0.6);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hero {
    background-image: url('/img/left-bg@2x.jpg');
  }
}